@model FransfordSystem.Models.Inventario

@{
    ViewData["Title"] = "Edit";
}

<h1>Agregar Entrada</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Entrada">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idInventario" />
            <div hidden class="form-group">
                <label asp-for="idProducto" class="control-label"></label>
                <input asp-for="idProducto" class="form-control" />              
                <span asp-validation-for="idProducto" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="fechaVencimiento" class="control-label"></label>
                <input asp-for="fechaVencimiento" class="form-control" />
                <span asp-validation-for="fechaVencimiento" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="entrada" class="control-label"></label>
                <input asp-for="entrada" class="form-control" />
                <span asp-validation-for="entrada" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="salida" class="control-label"></label>
                <input asp-for="salida" class="form-control" />
                <span asp-validation-for="salida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     <a class="btn btn-info" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
