@model FransfordSystem.Models.Factura

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Factura</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFactura" />
            <div class="form-group">
                <label asp-for="fechaFactura" class="control-label"></label>
                <input asp-for="fechaFactura" class="form-control" />
                <span asp-validation-for="fechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalFactura" class="control-label"></label>
                <input asp-for="totalFactura" class="form-control" />
                <span asp-validation-for="totalFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCliente" class="control-label"></label>
                <input asp-for="idCliente" class="form-control" />
                <span asp-validation-for="idCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  class="btn btn-primary" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
