@model FransfordSystem.Models.ReporteExamen

@{
    ViewData["Title"] = "Delete";
}
<div align="center">
    <h1>Eliminar</h1>
</div>


<h3>Esta seguro que desea eliminar este reporte?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaReporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.nombreDeLista
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdReporteExamen" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
