@model IEnumerable<FransfordSystem.Models.Examen>
@using System.Linq;


<div>
    <p> 
    <img src="~/dist/img/AdminLTELogo.png" align="left"><h1 align="center">LABORATORIO CLINICO FRANSFORD</h1>
    <h5 align="center">CALLE MORAZAN N.13 LOCAL A 2DA.PLANTA 25 METROS AL ORIENTE DE ALCALDIA DE CIUDAD DELGADO TEL.2286-8915 </h5>
    <h5 align="center">REGISTRO C.S.S.P.  N°  973, LIC.EDWIN GUEVARA ROMERO  J.V.P.L.C. N° 1287 </h5>
</p>
    <hr />
    <h5>Exámenes realizados en total: @ViewBag.Resultado.Count</h5>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr align="center">
                <th>
                    @Html.DisplayNameFor(model => model.nombreExamen)
                </th>
                <th>
                    <a>Cantidad de veces que se ha realizado</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreExamen)
                    </td>

                    <td align="center">
                        @{
                            int acum = 0;
                            foreach (Descripcion descripcion in ViewBag.Descripcion)
                            {
                                foreach (Resultado resultado in ViewBag.Resultados)
                                {
                                    if (resultado.idDescripcion == descripcion.idDescripcion)
                                    {
                                        if (descripcion.idExamen == item.idExamen)
                                        {
                                            acum = acum + 1;
                                        }

                                    }
                                }
                            }
                            <h5>@acum</h5>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-info" asp-action="Index">Regresar a la lista de exámenes</a>
</div>
