@model IEnumerable<FransfordSystem.Models.Examen>
@using System.Linq;

<h1>Estadísticas de exámenes</h1>

<div>

    <hr />
    <h5>Exámenes realizados en total por cada cliente: @ViewBag.Resultado.Count</h5>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr align="center">
                <th>
                    @Html.DisplayNameFor(model => model.nombreExamen)
                </th>
                <th>
                    <a>Cantidad de veces que se ha realizado</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreExamen)
                    </td>

                    <td align="center">
                        @{
                            int acum = 0;
                            foreach (Descripcion descripcion in ViewBag.Descripcion)
                            {
                                foreach (Resultado resultado in ViewBag.Resultados)
                                {
                                    if (resultado.idDescripcion == descripcion.idDescripcion)
                                    {
                                        if (descripcion.idExamen == item.idExamen)
                                        {
                                            acum = acum + 1;
                                        }

                                    }
                                }
                            }
                            <h5>@acum</h5>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Index">Regresar a la lista de exámenes</a>
</div>
